h1
{
    color: blue;
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    border: 5px dashed red;
}

div
{
    background-color: teal;
    width: 100px;
    height: 400px;
    margin: 30px;
    padding: 20px;
}